{{ template "header.tmpl" "Download from Deezer" }}
<div>
    <form method="get">
        <input name="url"></input>
        <button type="submit">Download</button>
    </form>
</div>
{{ template "footer.tmpl" }}
